body{
     background-color: black;
    height: auto;
     color: greenyellow;
 }

h1 {
    text-align: center;
    color: greenyellow;

    position: relative;
    font-size: 70px;
    margin-top: 0;
    font-family: 'Lobster', helvetica, arial;
    text-shadow:

    0 1px #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.leftNav {

    float: left;
    width: 15%;
    height: 200%;
    color:white;
    text-align: center;
}
ul {
    list-style-type: none;
}
a:link {
    color: yellowgreen;
}
a:visited {
    color: red;
}
a:hover {
    color: white;

}
.mainImage {
    float: right;
    width: auto;
    text-align: left;
    height: auto;
}
h3 {
    text-align: center;
}
.details {
    width: 320px;
}
.price {
    color: red;
    font-size: xx-large;
    float: left;
}
.priceBox {

    font-size: x-large;
}
.footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative;
}
.catImage {
    width: auto;
    height: 10%;
    float: right;
}
.poster {
    float: right;
}
.breadcrumb {
    font-style: oblique;
}
.marquee {
    position: absolute;
    white-space: nowrap;
    marquee-loop: infinite;
    -webkit-animation: rightThenleft 100s linear;

}
@-webkit-keyframes rightThenleft {
    0% {left: 20%}
    50% {left: 80%}
    100% {left: 20%}
 }